---
// Component Imports
import Header from '../components/Header.astro';
import Article from '../components/Article.astro';
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'About us';

---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
    
</head>
<body> 
    <Header/>
    <Article title="About">
    <p>
      Quam elementum pulvinar etiam non quam lacus. Lobortis scelerisque
      fermentum dui faucibus in ornare quam. Nisi quis eleifend quam adipiscing
      vitae proin sagittis nisl rhoncus. Nam aliquam sem et tortor consequat id
      porta nibh venenatis. Pharetra sit amet aliquam id diam. Purus in mollis
      nunc sed id semper risus. Orci nulla pellentesque dignissim enim sit amet
      venenatis. Enim neque volutpat ac tincidunt vitae. Pellentesque eu
      tincidunt tortor aliquam nulla facilisi cras fermentum. Fringilla est
      ullamcorper eget nulla facilisi. Sed risus ultricies tristique nulla
      aliquet enim tortor at auctor. Enim diam vulputate ut pharetra sit amet
      aliquam id.
    </p>
    </Article>
</body>
</html>
