---
// Component Imports
import Header from '../components/Header.astro';
import Article from '../components/Article.astro';
import Promoted from"../components/Promoted.jsx";
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Welcome to my blog';

---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
    
</head>
<body> 
    <Header/>
   <Article title="Home">  
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Tempus imperdiet nulla
      malesuada pellentesque elit. Id volutpat lacus laoreet non curabitur. Nec
      sagittis aliquam malesuada bibendum. Libero id faucibus nisl tincidunt
      eget nullam non nisi est. In nulla posuere sollicitudin aliquam ultrices
      sagittis orci a. Semper risus in hendrerit gravida rutrum quisque non.
      Platea dictumst quisque sagittis purus sit. Dui vivamus arcu felis
      bibendum ut tristique. Vitae tortor condimentum lacinia quis vel. Praesent
      elementum facilisis leo vel fringilla est ullamcorper. Suspendisse in est
      ante in nibh mauris cursus mattis molestie. At augue eget arcu dictum
      varius duis at. Dui sapien eget mi proin sed libero enim sed. Tincidunt
      eget nullam non nisi est sit amet facilisis magna. Et leo duis ut diam
      quam nulla porttitor massa. Condimentum id venenatis a condimentum. Arcu
      non sodales neque sodales ut etiam sit amet nisl. Viverra mauris in
      aliquam sem fringilla ut morbi tincidunt augue.
    </p>
    </Article>
    <Promoted client:visible/>
</body>
</html>
