---
const {content} = Astro.props;
---


<main>
  <section>
    <img src="assets/logo.svg" height="69" />
    <h1>{content}</h1>
    <slot/>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Tempus imperdiet nulla
      malesuada pellentesque elit. Id volutpat lacus laoreet non curabitur. Nec
      sagittis aliquam malesuada bibendum. Libero id faucibus nisl tincidunt
      eget nullam non nisi est. In nulla posuere sollicitudin aliquam ultrices
      sagittis orci a. Semper risus in hendrerit gravida rutrum quisque non.
      Platea dictumst quisque sagittis purus sit. Dui vivamus arcu felis
      bibendum ut tristique. Vitae tortor condimentum lacinia quis vel. Praesent
      elementum facilisis leo vel fringilla est ullamcorper. Suspendisse in est
      ante in nibh mauris cursus mattis molestie. At augue eget arcu dictum
      varius duis at. Dui sapien eget mi proin sed libero enim sed. Tincidunt
      eget nullam non nisi est sit amet facilisis magna. Et leo duis ut diam
      quam nulla porttitor massa. Condimentum id venenatis a condimentum. Arcu
      non sodales neque sodales ut etiam sit amet nisl. Viverra mauris in
      aliquam sem fringilla ut morbi tincidunt augue.
    </p>
    <p>
      Quam elementum pulvinar etiam non quam lacus. Lobortis scelerisque
      fermentum dui faucibus in ornare quam. Nisi quis eleifend quam adipiscing
      vitae proin sagittis nisl rhoncus. Nam aliquam sem et tortor consequat id
      porta nibh venenatis. Pharetra sit amet aliquam id diam. Purus in mollis
      nunc sed id semper risus. Orci nulla pellentesque dignissim enim sit amet
      venenatis. Enim neque volutpat ac tincidunt vitae. Pellentesque eu
      tincidunt tortor aliquam nulla facilisi cras fermentum. Fringilla est
      ullamcorper eget nulla facilisi. Sed risus ultricies tristique nulla
      aliquet enim tortor at auctor. Enim diam vulputate ut pharetra sit amet
      aliquam id.
    </p>
    <p>
      Lorem sed risus ultricies tristique nulla aliquet enim tortor at. Nam
      aliquam sem et tortor. Velit ut tortor pretium viverra suspendisse
      potenti. Ut consequat semper viverra nam libero justo laoreet sit amet.
      Facilisis gravida neque convallis a cras semper. Eget duis at tellus at
      urna condimentum mattis pellentesque id. In hac habitasse platea dictumst
      vestibulum rhoncus. Sagittis id consectetur purus ut faucibus pulvinar
      elementum integer enim. Suscipit adipiscing bibendum est ultricies.
      Ultrices dui sapien eget mi proin sed libero enim. Feugiat nisl pretium
      fusce id velit ut tortor pretium viverra. Vel pharetra vel turpis nunc
      eget lorem dolor sed. Id interdum velit laoreet id donec ultrices
      tincidunt arcu non. Posuere urna nec tincidunt praesent semper. Nisl vel
      pretium lectus quam id leo in vitae. Egestas tellus rutrum tellus
      pellentesque eu tincidunt tortor aliquam nulla.
    </p>
  </section>
</main>
